<a href="https://colab.research.google.com/github/riyaanatekar/exp1/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#riya
#AIM : STUDY OF LIST , TUPLE AND DICTIONARY

In [4]:
fruits=["apple","orange","cherry"]
print(fruits)

['apple', 'orange', 'cherry']

In [3]:
listfruits=list(("apple","orange","cherry"))
listfruits.append("banana")
print(listfruits)

['apple', 'orange', 'cherry', 'banana']

In [2]:
listfruits=["apple","orange","cherry"]
print(listfruits[0])
print(listfruits[-2])
listfruits.append("banana")
print(listfruits[0])
print(listfruits[-2])
print(listfruits)

apple
orange
apple
cherry
['apple', 'orange', 'cherry', 'banana']

In [5]:
list1=["apple","orange","cherry"]
list2=["mango","pineapple,papaya"]
list1.extend(list2)
print(list1)

['apple', 'orange', 'cherry', 'mango', 'pineapple,papaya']

In [7]:

list1=["apple","banana","cherry","kiwi","mango","pineapple"]
print(list1[2:5])
print(list1[:4])
print(list1[2:])
print(list1[-4:-1])

['cherry', 'kiwi', 'mango']
['apple', 'banana', 'cherry', 'kiwi']
['cherry', 'kiwi', 'mango', 'pineapple']
['cherry', 'kiwi', 'mango']

In [14]:
#create a list of 5 student names display first and last student
#add a new student remove any one student
#sort the list alphabetically


# Create a list of 5 student names
students = ["riya", "vivaan", "rivya", "maitree", "Karan"]

# Display first and last student
print("First student:", students[0])
print("Last student:", students[-1])

# Add a new student
students.append("Priya")

# Remove any one student (example: remove Karan)
students.remove("Karan")

# Sort the list alphabetically
students.sort()

# Display final list
print("Final student list:", students)

First student: riya
Last student: Karan
Final student list: ['Priya', 'maitree', 'rivya', 'riya', 'vivaan']

In [17]:
#create a list of 5 student marks ,display higest and lowest marks ,calculate average marks , sort marks in acsending order
marks = [78, 92, 85, 64, 88]

print("Highest:", max(marks))
print("Lowest:", min(marks))
print("Average:", sum(marks)/5)

marks.sort()
print("Ascending order:", marks)

Highest: 92
Lowest: 64
Average: 81.4
Ascending order: [64, 78, 85, 88, 92]